
/* !Laptop Device */
@media screen and (max-width:1200px){
    .banner-content h2{
    font-size: 35px;
}
.inspiration-video{
    max-width:900px;

}
.inspiration-video iframe{
    max-width: 836px;
    height: 500px;
}


}


/* !Tablet Device */
@media screen and (max-width:1024px){
     .banner-content h2{
    font-size: 30px;
}
#blog-card-container{
    flex-direction: column-reverse;
}
/* .blog-card-content{
    width: 100%;
}
.blog-card-img{
    width: 100%;
} */
 .inspiration-video{
    max-width:550px;

}
.inspiration-video iframe{
    max-width: 486px;
    height: 300px;
}
#targets-box-container{
    display: flex;
    flex-direction: column;
}
.box{
    width: 100%;
    text-align: center;
}

#foter{
    flex-direction: column;
    gap: 20px;
    text-align: center;
}
.copyright p{
     font-size:14px;
}
}



/* !Mobile Device */
@media screen and (max-width:640px){

  .header-content{
    font-size: 18px;
}
  .btn{
  padding: 10px 10px;
  border: none;
  font-weight: 400px;
  font-size: 12px;
  }

   .banner-content h2{
    font-size: 20px;
}
 .banner-content p{
    font-size: 12px;
}

#blog-card-container{
    flex-direction: column-reverse;
}
/* .blog-card-content{
    width: 100%;
}
.blog-card-img{
    width: 100%;
} */

.blog-card-content h2{
    font-size: 18px;
}
.blog-card-content p{
    font-size: 10px;
}
.inspiration-video{
    max-width:400px;

}
.inspiration-video iframe{
    max-width: 336px;
    height: 180px;
}
#targets-box-container{
    display: flex;
    flex-direction: column;
}
.box{
    width: 100%;
    text-align: center;
}
#foter{
    width: 100%;
    flex-direction: column;
        text-align: center;
}
.copyright p{
     font-size:12px;
}
.icon img{
    width: 20px;
}
}

